@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Open Sans', sans-serif;
}

.nav-wrapper{
    background-color:rgb(60, 59, 70);
    padding:65px;
    position: relative;
    border-bottom: 0.1px solid rgb(209, 206, 206);  
    box-sizing: border-box;
}

.responsive-img{
    position: absolute;
}
.brand-logo{
    margin: -34px 0px 0px -29px; 
}

.barra {
    position: absolute;
    margin: -34px 0px 0px 182px; 
    font-size: 10px;
}
.log1{
    position: absolute;
    margin: -90px 0px 0px 1010px; 
    font-size: 13px;
}

.log1:hover{
    color: #FF5274;
    background: transparent;
  }
.bt1{
  border: 1.5px rgb(247, 243, 244) solid;
  width: 150px;
  padding: 0px 40px;
  border-radius: 100px;
  height: 40px;
  transition: .4s;
  position: absolute;
  margin: -80px 0px 0px 1072px;
  text-align: center;
  font-size: 13px;
 
}

.bt1:hover{
  color: rgb(252, 82, 116);
  border: 1.5px rgb(252, 82, 116) solid;
  background: transparent;
}

.barra :hover{
    color: rgb(252, 82, 116);

}
.barra li a{
    font-size: 13px;
}
.sidenav{
    
    position: absolute;
}

.center-align{
    position: absolute;
    color: white;
    margin: 198px 0px 0px 290px; 
}
.center-align2{
    position: absolute;
    color: white;
    margin: 298px 0px 0px 188px;
    font-size: 21px; 
}
.log2{
    border: 1.5px rgb(252, 82, 116) solid;
    background-color: #FF5274;
    color: white;
    width: 150px;
    border-radius: 100px;
    height: 40px;
    transition: .4s;
    position: absolute;
    margin:  398px 0px 0px 388px;
    text-align: center;
    font-size: 13px;
  }
  .log2:hover{
    background: rgb(238, 58, 94);
  }


.bt2{
  border: 1.5px rgb(238, 58, 94) solid;
  color: rgb(238, 58, 94);
  width: 150px;
  border-radius: 100px;
  height: 40px;
  transition: .4s;
  position: absolute;
  margin:  398px 0px 0px 588px;
  text-align: center;
  font-size: 13px;
}
.bt2:hover{
    background: rgb(238, 58, 94);
    color: white;
  }
 
   .col .large{
     color: #FF5274;
     font-size: 40px;
     margin: 570px 0px 20px 20px;
  } 

  .tit{
    margin:-62px 0px 0px 92px;

    
  }
  .par1{
    margin: 7px 0px 20px 92px;

    color: rgb(181, 187, 192);
  }