@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
    font-family: 'Open Sans', sans-serif;  
}

.nav{
    position: fixed;
    height: auto;
    background: transparent;
    font-size: 13px;
    transition: .5s;
    box-shadow: 0px 0px transparent;
    z-index: 999;
}
.nav.is-down {
    background: #232731;
}
.nav.is-down>.container {
    border: 0;
    padding: 15px 0;
}
.nav .row{
    margin: 0;
}
.nav .container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: .5s;
    width: 90%;
    padding: 28.5px 0px;
}

.nav .login{
    margin-right: 40px;
}
.nav .login>li:nth-child(2)>a{
    background-color: transparent;
    box-shadow: 0 0 transparent;
    padding: 0 40px;
    border-radius: 100px;
    border: 1.5px white solid;
}
.nav .login>li:nth-child(2)>a:hover{
    border: solid 1px #FF5274;
}
.nav ul li a, .login {
    transition: .4s;
    font-size: 13px;
}
.nav ul li a:hover, .login:hover {
    color: #FF5274;
    background: transparent;
}
section .row{
    padding: 120px 0;
}
section .row .col .intro-icon{
    margin-right: 20px;
}
.intro-icon, .intro-content{
    display: inline-block;
}

.intro{
    width: 100%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15%;
}
.intro h1{
    font-size: 60px;
    color: white;
    margin: auto;  
    width: fit-content;
}
.intro p{
    font-size: 20px;
    color: white;
}

.fondo{
    position: relative;
    min-height: 750px;
    background: url(img/hero.jpg) center center;
    background-size: cover;
}
.btn{
    padding: 8px 35px 8px 35px;
    border-radius: 100px;
    font-size: 13px;
    border: 1.5px white solid;
  }
.btn{
    transition: .4s;
  }
.btn:hover{
    color: #FF5274;
    border: 1.5px #FF5274 solid;
    background: transparent;
  }
.intro article{
    margin-right: 188px;
    margin-top: 113px;
}
.intro  article a{
    font-size: 13px;
    color: white;
    padding: 17px 43px;
    border-radius: 100px;
    background-color: #FF5274;
}
.intro  article a:hover{
    background-color:rgba(255, 82, 117, 0.788);
    color: white;
}
.intro  section{
    margin-top: -21px;
    margin-left: 192px;
}
.intro  section a{
    font-size: 13px;
    color: #FF5274;
    padding: 15px 40px;
    border-radius: 100px;
    border: 2px solid #FF5274; 
}
.intro  section a:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
} 
.material-icons{
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    animation: efecto 3s alternate infinite;
}
@keyframes efecto {
    0%{
        transform: translateY(0);
    }
    34%{
        transform: translateY(-10px);
    }
    64%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
h3, h5, h2{
    color: #3D4351;
}
h2{
    font-size: 40px;
    font-weight: 300;
}
h3{
    font-size: 24px;
    margin-bottom: 20px;
}
h5{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}
p{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28,54,83,.6);
    padding-bottom: 20px;
}
.clase1 p {
    margin-bottom: 0;
    padding-bottom: 0;
}
.intro-icon img{
    width: 64%;
    font-weight: 700;
}
.intro-icon{
    vertical-align: top;
    padding: 6px 0 0;
    margin-right: 20px;
}
.intro-content {
    width: 70%;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.clase1{
    background: #F3F4F8;
    position: relative;
}
.clase1 .device-img {
    position: absolute;
    bottom: -350px;
    right: 61%;
}
.devices, .features {
    position: relative;
}
.clase1 h3 {
    margin: 0 0 20px;
}

.clase1 .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url(img/ipad-device.png) center center no-repeat;
    z-index: 1;
}
.clase1 .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url(img/iphone6.png) center center no-repeat;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2;
}
.clase1 ul.conte-icon {
    margin-top: 50px;
}
.clase1 ul.conte-icon li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA;
}
.clase1 ul.conte-icon li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.clase1 .content {
    display: inline-block;
    width: 75%; 
}
.recycle{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.user{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.test{
    width: 35px;
    margin-right: 20px;
    vertical-align: top;
    padding: 6px 0 0;
}
.clase2{
    background: #fff;
}
.features{
    z-index: 3;
    overflow: hidden;
    margin-top: -21px;
}
.clase2 p{
    padding: 8px 2px;
    
}
.clase2, .boton{
    font-size: 15px;
    line-height: 29px;
    color: rgba(28, 54, 83, .6);
    padding-bottom: 20px;
}
.clase2 .container .row{
    padding: 120px 0;
}

.boton{
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 8px 40px;
    color: #FF5274;
}
.boton:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.features .boton {
    margin-top: 20px;
}
 .features .macbook-wrap {
    position: absolute;
    width: 915px;
    height: 530px;
    left: 50%;
    top: 115px;
    background: url(img/macbook-pro.png) center center no-repeat;
}  
.de-img{
    display: none;
}
.clase3{
    margin-top: 120px;
    background: url(img/polygonal-bg.jpg) center center no-repeat #333844;
    padding-bottom: 10px;
    position: relative;
}
.clase3 h2 {
    color: #fff;
    margin: 0 0 20px;
    text-align: center;
}
.clase3 p   {
    color: #ACB1B4;
    text-align: center;
}
.clase3 i {
    font-family: Nunito,sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
}
.clase3 .boton{
    font-size: 13px;
    margin-left: 480px;
    border: 2px solid;
    border-radius: 40px;
    margin-top: 10px;
    padding: 15px 40px;
    color: #FF5274;
}
.clase3 .boton:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.clase3 .logo{
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -128px;
    left: 42%;
    animation: efecto 3s alternate infinite;
}
.clase4{
    background: #F3F4F8;
    padding-top: 200px;
}
.clase4 .left-align {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA;
}
.clase4 .left-align2 {
    padding-left: 100px;
}
section:nth-child(6) .row{
    padding: 0;
}
.clase5{
    background: #F3F4F8;
    margin-top: -20px;
}
.clase5 h2 {
    font-size: 11px;
    font-weight: 500;
    margin-top: 35px;
    text-align: center;
}
a{
    color: #FF5274;
}
.clase5 a.z {
    color: rgba(28,54,83,.6);
}
.clase5 p{
    text-align: center;
}
.clase5 .boton{
    font-size: 13px;
    display: inline-block;
    border: 2px solid;
    border-radius: 40px;
    padding: 2px 40px;
    color: #FF5274;
    margin-left: 580px;
    margin-top: 20px;
}
.clase5 .boton:hover{
    border: 2px solid #FF5274; 
    background: #FF5274;
    color: white;
}
.clase5 .row{
    margin: 5px;
}



@media only screen and (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media only screen and (max-width: 991px) {
    section .row .col .intro-content {
      width: 75%;
    }  
    .intro{
      padding-top: 28%;
    }
    .devices{
        display: none;
    }
    .features .macbook-wrap{
        display: none;
    }
    .de-img{
        display: block;
        text-align: center;
        margin: 15% auto 0;
        width: 100%;
        margin-top: -83px;
    }
    .de-img, .imgs{
        width: 85%;
    }    
}
@media only screen and (min-width: 992px){
    .container {
        width: 970px;
    }
    .col-m-offset-7 {
        margin-left: 58%;
    }
    .col-m5 {
        float: left;
        width: 41%;
    }
  
    
}
@media only screen and (min-width: 1200px){
    .intro{
        padding-top: 20%;
      }
    .container{
        width: 1170px;
    }
         
}







